@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
ul,
li {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
body {
  margin: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
#categories > li > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.item > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  list-style-type: none;
}
.item > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 156px;
  column-gap: 24px;
  row-gap: 48px;
  width: 1440px;
  height: 848px;
}
.gallery > li {
  max-width: calc((100% - 48px) / 3);
}
#name-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 16px;
}
#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-output {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-input + h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#main-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}
#main-form input {
  display: block;
  margin: 8px 0;
  width: 360px;
  height: 40px;
}
#main-form input[type='password'] {
  margin-bottom: 16px;
}
#main-form button[type='submit'] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
#main-form button[type='submit']:hover {
  background: #6c8cff;
}
.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.change-color {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
}
#controls input[type='number'] {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 40px;
  width: 150px;
  height: 40px;
}
#controls button[data-create] {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
}
#controls button[data-destroy] {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
}
#controls button[data-destroy]:hover {
  background: #ff7070;
}
#controls button[data-create]:hover {
  background: #6c8cff;
}
#boxes {
  display: flex;
  flex-wrap: wrap;
}
